$color-black: #232536;
$color-yellow: #FFD050;
$color-lightyellow: #FBF6EA;
$color-purple: #592EA9;
$color-darkgrey: #4C4C4C;
$color-mediumgrey: #6D6E76;
$color-lightgrey: #F4F4F4;
$color-lavender: #F4F0F8;
